#main_menu .element{
    writing-mode: bt-lr;
    filter: flipv fliph;
}

#main_menu .element .background{

position: absolute\9; /* IE8 and below */ 
left: 0\9; /* IE8 and below */
bottom: 0\9; /* IE8 and below */

}
